<!DOCTYPE html>
<html lang="en">
<!-- Display Head -->
<%- include("./partials/head.ejs") %>

    <body>
        <!-- Display Nav -->
        <%- include("./partials/nav.ejs") %>

            <div class="create-recipe content">
                <form action="/recipes/<%= recipe.id %>?_method=PUT" method="post">
                    <label for="name">Recipe Name: </label>
                    <input type="text" id="name" name="name" required value="<%= recipe.name %>">

                    <label for="cookTime">Cooking Time (in mins): </label>
                    <input type="number" id="cookTime" name="cookTime" required value="<%= recipe.cookTime %>">

                    <label for="mainIngredient">Main Ingredient: </label>
                    <input type="text" id="mainIngredient" name="mainIngredient" required value="<%= recipe.mainIngredient %>" >

                    <label for="ingredients">Ingredients: </label>
                    <textarea name="ingredients" id="ingredients" required><%= recipe.ingredients %></textarea>

                    <label for="procedure">Procedure: </label>
                    <textarea name="procedure" id="procedure" required><%= recipe.procedure %></textarea>

                    <div class="links">
                        <a href="/recipes" class="cancel-link">Cancel</a>
                        <button>Save</button>
                    </div>
                </form>
            </div>

    </body>

</html>